.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex.row {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.flex.column {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex.one {
	flex: 1;
}

.flex.two {
	flex: 2;
}

.flex.three {
	flex: 3;
}

.flex.four {
	flex: 4;
}

.flex.five {
	flex: 5;
}

.flex.six {
	flex: 6;
}

.flex.seven {
	flex: 7;
}

.flex.eight {
	flex: 8;
}

.flex.nine {
	flex: 9;
}

.flex.align-start {
	-webkit-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

.flex.align-center {
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.flex.align-end {
	-webkit-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.flex.align-baseline {
	-webkit-align-items: baseline;
	-ms-align-items: baseline;
	align-items: baseline;
}

.flex.align-stretch {
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}

.flex.justify-start {
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}

.flex.justify-end {
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}
.flex.justify-center {
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.flex.justify-between {
	/* Workaround for browsers that don't support space-around */
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;

	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}

.flex.justify-around {
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
