html, body, #root {
	height: 100%;
	margin: 0;
}

* {
	font-family: Helvetica, Arial, sans-serif;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

#app {
	position: relative;
	height: 100%;
}

/* Top bar */
#topbar {
	flex: 0 0 10%;
	background: #4f4a68;
}

#topbar .hamburger {
	flex: 1;
	margin: 16px;
}

#topbar .hamburger .image {
	cursor: pointer;
}

#topbar .logo {
	flex: 1;
	margin: 16px;
	text-align: right;
}

/* Side bar */
#sidebar {
	position: absolute;
	width: 80%;
	height: 100%;
	z-index: 2;
	left: -80%;
	background: #111111;
	transition: left .4s;
}

#sidebar.active {
	left: 0%;
}

#sidebar .list .inner {
	margin: 16px;
}

#sidebar .item {
	margin-top: 16px;
}

#sidebar .item .text {
	color: #f1f1f1;
	margin-left: 16px;
}

/* Login */
#login {
	flex: 1;
	background: url(../images/dummy.png) center / cover;
}

#login .inner {
	flex: 0 0 80%;
	margin: 0 auto;
}

/* Dashboard */
#dashboard {
	flex: 1;
	background: white;
}

#dashboard .total-miles {
	flex: 1;
	text-align: center;
}

#dashboard .drives {
	flex: 1;
	text-align: center;
}

#dashboard .start-driving {
	flex: 1;
	text-align: center;
}

/* Driving */
#driving {
	flex: 1;
	position: relative;
	background: white;
}

#driving .map {
	flex: 3;
	background: gray;
}

#driving .distance {
	flex: 1;
	text-align: center;
}

#driving .finish {
	flex: 1;
	text-align: center;
}

#driving .failed {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.8);
}

#driving .failed .inner {
	margin: 16px;
}

#driving .failed .message {
	background: white;
	padding: 16px;
}

#driving .failed .button {
	display: block;
	width: 100%;
}

/* Rewards */
#rewards {
	flex: 1;
}
